<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/templates :: head">
<title>Listar Categoría</title>
</head>
<body>
<header th:replace="plantilla/templates :: header"></header>
		<div class="container">
			<h1 th:text="${titulo}"></h1>
		</div>
		
		<!-- AGREGAR -->
		
		<div class="container">
		<div class="card bg-ligth">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">	
		</div>
		
		 <!-- ENIVAMOS LA INFORMACION AL OBJETO CLIENTE-->
		
		</div>
	</div>
		<!-- LISTADO  -->
	<div class="container">
	
		
		<a class="btn btn-primary btn-sm" th:href="@{/vistas/CategoriaFiltros/CrearCategoriaFiltro}" 
		th:text="'NUEVO FILTRO'" title="CREAR NUEVO FILTRO" >
			
		</a>
		<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">NOMBRES</th>
				<th scope="col">EDITAR</th>
				<th scope="col">ELIMINAR</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="cat : ${filtro}">
				<th scope="row" th:text="${cat.id_categoriaFiltro}">1</th>
				<td th:text="${cat.nombre_categoriaFiltro}"></td>
				<td>
						<a class="btn btn-success btn-sm" th:href="@{/vistas/filtros/editar/} + ${cat.id_categoriaFiltro}" th:text="'EDITAR'"
							title="EDITAR REGISTRO">						
						</a>
					</td>
					<td>
						<a class="btn btn-danger btn-sm" th:href="@{/vistas/filtro/eliminar/} + ${cat.id_categoriaFiltro}" th:text="'ELIMINAR'"
							title="ELIMINAR REGISTRO"
							onclick="return confirm('ESTAS SEGURO DE ELIMINAR ?')">
						</a>
					</td>
		</tbody>
	</table>
	</div>
	<footer th:replace="plantilla/templates :: footer "></footer>
</body>
</html>